extends layout

block content
  div.container
    div.row
      div.col-sm-8.col-sm-offset-2
        h1.welcome Trivia-plaza
     
      div.col-sm-1.col-sm-offset-3.box
        a(href='/login')
          h2 Login
      div.col-sm-1.col-sm-offset-2.box
        a(href='/signup')
          h2 Signup